ErrorDocument 500 /modules/public/500.aspx
ErrorDocument 404 /modules/public/404.aspx

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.* index.php [L,QSA]